{% extends 'base.html.twig' %}

{% block body %}
    <h2>eligible_pour_bourse</h2>

    {{ form_start(form) }}
        {{ form_label(form.expression) }}
        {{ form_errors(form) }}
        {{ form_widget(form.expression) }}
        <div id="editor" data-editor-configuration="{{ {
            'formSelector' : "[name='#{form.vars.name}']",
            'editorSourceSelector' : "##{form.expression.vars.id}",
            'completionList' : completionList,
        } | json_encode }}"></div>
        {{ form_help(form) }}

        {{ form_widget(form.submit) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="/js/rule-autocomplete.js"></script>
{% endblock %}
